<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <link rel="icon" href="{{ SITEURL }}/images/favicon.ico">
    {% if NEST_REL_CANONICAL_LINK %}
    <!-- Canonical -->
    {% if article %}
    <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}">
    {% elif author %}
    <link rel="canonical" href="{{ SITEURL }}/{{ author.url }}">
    {% elif category %}
    <link rel="canonical" href="{{ SITEURL }}/{{ category.url }}">
    {% elif tag %}
    <link rel="canonical" href="{{ SITEURL }}/{{ tag.url }}">
    {% else %}
    <link rel="canonical" href="{{ SITEURL }}">
    {% endif %}
    <!-- /Canonical -->
    {% endif %}

    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/dark-bulma-rising.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/tweak.css">
    <script src="{{ SITEURL }}/theme/js/highlight.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/main.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <!-- /Stylesheets -->

    <!-- RSS Feeds -->
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Full Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} Full RSS Feed" />
    {% endif %}
    {% if FEED_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate"
        title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate"
        title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% if CATEGORY_FEED_ATOM and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM.format(slug='category.slug') }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
    {% endif %}
    {% if CATEGORY_FEED_RSS and category %}
    <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS.format(slug='category.slug') }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
    {% endif %}
    {% if TAG_FEED_ATOM and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM.format(slug='tag.slug') }}" type="application/atom+xml"
        rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
    {% endif %}
    {% if TAG_FEED_RSS and tag %}
    <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS.format(slug=' tag.slug') }}" type="application/rss+xml"
        rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
    {% endif %}
    <!-- /RSS Feeds -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


    {% endblock head %}
</head>

<body vocab="http://schema.org/">

    <!-- Header 
    {% block headerstyle %}
    {% endblock headerstyle %}-->

    <!-- Static navbar -->
    {% include "navbar.html" %}
    <!-- /Static navbar -->

    <!-- Header 
    {% block header %}
    {% endblock header %}-->
    <!-- /Header -->

    <!-- /Header -->


    <!-- Content -->
    <section class="section">
        <div class="container is-fullhd">
            {% block content %}
            {% endblock %}
        </div>
    </section>


    <!-- /Content -->

    <!-- Footer -->
    <footer class="footer">
        <div class="container is-fullhd">
            <div class="columns">
                {% if LINKS %}<div class="column">
                    <ul class="list-unstyled">
                        {% for name, link in LINKS %}
                        <li><a href="{{ link }}" target="_blank">{{name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>{% endif %}
                {% if SOCIAL %}<div class="column">
                    <ul class="list-unstyled">
                        {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}" target="_blank">{{name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>{% endif %}
            </div>
            <br>
            <div class="content has-text-centered">
                Proudly powered by <a href="http://docs.getpelican.com/" target="_blank">pelican</a>
                Theme and code by <a href="https://zarebski.io" target="_blank">zar3bski</a>
            </div>
        </div>
    </footer>

    <!-- /Footer -->

    {% include "analytics.html" %}
</body>

</html>